/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
	width:100%;
	padding:10px;
}
h1{
	padding:10px;
	background-color:#f5f5f5;
	border:none;
}
div>p{
	background-color:white;
	padding:20px
}
#d1{
	display:flex;

}
#d2{
	display:flex;
}
#author{
	font-style:italic;
	text-align:right;
}
